<%= form_for(feed) do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <!-- if we're creating a Twitter feed, the label will say "Twitter handle"
        otherwise it'll say "URL" -->
    <%= f.label :url, "URL", id: "feed_url_label" %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :hide_in_all, "Hide from 'All' listing?" %>
    <%= f.check_box :hide_in_all %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
