<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @feed.category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @feed.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Hide in 'All' listing?</strong>
  <%= @feed.hide_in_all ? "Yes" : "No" %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
